/* -------------------4행 데일리 솔루션시작  */
.every_wrap main .daily_solution {
    padding:120px 0; display:flex; flex-flow:column nowrap; gap:30px; 
    width:calc(100% - 240px); margin:0 auto;}
.every_wrap main .daily_solution > .top {
    width:1680px; margin:0 auto; display:flex; flex-flow:row nowrap;
    justify-content: space-between; align-items:flex-end;
}
.every_wrap main .daily_solution > .top > .title {display:flex; flex-flow:column nowrap;}
.every_wrap main .daily_solution > .top > .title .slogan {
    font-size:var(--pc-font-title-20); color:var(--estee-gray);
    line-height:var(--estee-line-height-150);
}
.every_wrap main .daily_solution > .top > .title > h3 {
    font-size:var(--pc-font-title-26); color:var(--estee-black); font-weight:var(--font-weight-500);
    line-height:var(--estee-line-height-150);
}
.every_wrap main .daily_solution > .top > .more_btn {
    color:var(--estee-gray); font-size:var(--pc-font-body-14);
    position:relative; line-height:var(--estee-line-height-150);
}
.every_wrap main .daily_solution > .top > .more_btn img {
    position:absolute; left:0; top:16px;
}




 /* 상품영역 시작 */
.every_wrap main .daily_solution > .daily_solution_product_wrap {width:100%; height:750px;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper {gap:10px;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide{
    width:150px; display:flex; flex-flow:row nowrap; gap:20px; transition:width 0.4s cubic-bezier(0.65, -0.33, 0.26, 1.11);
}


.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide.active{width:calc(100% - 450px); gap:20px;}

.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide > .big_thum {width:572.5px;}
/* 비활성화시 썸네일 어두움처리 */
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide > .big_thum::after {
    display:block; width:100%; height:100%; position:absolute; top:0; left:0; 
    background-color:rgba(0,0,0,0.4); content:'';
}


.every_warp main .daily_solution > .daily.solution_product_wrap .swiper-wrapper > .night, .makeup, .skincare > .big_thum {} /* 퍼퓸 제외 마진 적용 */
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide-active >  .big_thum::after {display:none;} /* 빅썸네일 활성화 */
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide > .product_list {display:none;} /* 평시 리스트 안보이기 */
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide-active .product_list {
    display:flex; flex-flow:column nowrap; gap:10px;} /* 액티브 적용시 보이기 */

.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide > .big_thum > .summary {
    display:none; position:absolute; left:40px; bottom:50px; 
} /* 빅썸네일 내부 내용 안보이기 */
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide-active > .big_thum > .summary {display:block;}
/* --------------------------------빅썸네일 내부 내용 absolute내용 */
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide-active > .big_thum > .summary > .title{
    color:#fff; font-size:var(--pc-font-title-24); font-weight:var(--font-weight-400); margin-bottom:10px;
} 

.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide-active > .big_thum > .summary > .hashtag {
    display:flex; flex-direction:row; gap:14px;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide-active > .big_thum > .summary > .hashtag span {
    padding:6px 10px; background-color:rgba(255,255,255,0.3); border-radius:8px; color:var(--estee-white);
    font-size:var(--pc-font-body-16); font-weight:lighter;
}




/* ----------------------------------빅썸네일 내용 종료 */
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .big_thum{
    background-repeat:no-repeat; background-size:cover; background-position:center;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .night .big_thum{background-image:url(../images/thum_daily_1.jpg);}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup .big_thum{background-image:url(../images/thum_daily_2.jpg);}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .skincare .big_thum{background-image:url(../images/thum_daily_3.jpg);}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .perfume .big_thum{background-image:url(../images/thum_daily_4.jpg);}

/* -----------------------------big 썸네일 설정완료 */

/* 상품영역 공통 */
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list {display:none;}

.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide.active .product_list{
    display:flex; flex-flow:column nowrap; width:calc(100% - 572.5px);}

.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li{
    position:relative;
    display:flex; flex-flow:row nowrap; gap:20px;
    width:100%;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .small_thum{
    width:200px; display:block; 
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .small_thum img{
    width:100%; object-fit:cover;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .product_wrap {}



.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .product_wrap p {}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .product_wrap .tag {
    font-size:var(--pc-font-body-12); font-weight:var(--font-weight-200); background-color:var(--estee-primary);
    padding:2px 6px; color:var(--estee-white); width:max-content; line-height:var(--estee-line-height-150);
    margin-bottom:7px;
}.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li:nth-child(2) .product_wrap .tag {
    background-color:#8A431A;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .product_wrap .name {
    font-size:var(--pc-font-body-16); font-weight:var(--font-weight-400); margin-bottom:30px;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .product_wrap .price {}







/* 메이크업 부분 CSS */
/* make up부분 컬러칩 포함한 상품리스트 */
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li {position:relative;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .small_thum {}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .small_thum img {}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .add_cart {
    position:absolute; top:95px; right:0;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .add_cart img {}


.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .product_wrap {}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .product_wrap .tag {}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .product_wrap .name {margin-bottom:5px;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .product_wrap .price {
    font-size:var(--pc-font-body-16); line-height:var(--estee-line-height-150);
}

/* 컬러칩 css 영역-------------------------------------------------------------------------- */
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .product_wrap .colorchip {
    margin-bottom:30px; display:flex; flex-flow:row nowrap; gap:5px; align-items:center;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .product_wrap .colorchip span {
    display:inline-block; width:12px; height:12px; border-radius:100%;
}


.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .product_wrap .colorchip .color1 {background-color:#CAA27F;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .product_wrap .colorchip .color2 {background-color:#CBA284;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .product_wrap .colorchip .color3 {background-color:#C19D7D;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .product_wrap .colorchip .color4 {background-color:#FFC8A3;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .product_wrap .colorchip .color5 {background-color:#C0966E;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li .product_wrap .colorchip .total {
    font-size:var(--pc-font-body-12); color:var(--estee-gray);
}




.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li:nth-child(2) .product_wrap .colorchip .color1 {background-color:#F4364C;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li:nth-child(2)  .product_wrap .colorchip .color2 {background-color:#971B2F;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li:nth-child(2)  .product_wrap .colorchip .color3 {background-color:#D25B73;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li:nth-child(2)  .product_wrap .colorchip .color4 {background-color:#DC582A;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li:nth-child(2)  .product_wrap .colorchip .color5 {background-color:#E73C3E;}




.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li:nth-child(3) .product_wrap .colorchip .color1 {background-color:#D7B18D;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li:nth-child(3)  .product_wrap .colorchip .color2 {background-color:#D5AA80;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li:nth-child(3)  .product_wrap .colorchip .color3 {background-color:#E2C09B;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li:nth-child(3)  .product_wrap .colorchip .color4 {background-color:#DCB999;}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .makeup > .product_list li:nth-child(3)  .product_wrap .colorchip .color5 {background-color:#DFC5AA;}


/* ----------------------------------------컬러칩 끝 */











/* 장바구니 버튼 absolute*/
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li > .add_cart {
    position:absolute; right:0; top:70px;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li > .add_cart img {width:100%;}