/* index.css */
/* ----------------pc버전 시작점 */
body * {box-sizing:border-box; letter-spacing:var(--estee-letter-spacing-2);}
body {width:100%; height:100vh;}
/* 띠배너 */
.every_wrap {width:100%; position:relative;}
.every_wrap .banner {
    width:100%; background-color:var(--estee-black); height:45px; display:flex; align-items: center;
    position:absolute; z-index:var(--z-index-500);
    left:0; top:0;
}
.every_wrap .banner .content {
    width:1680px; text-align:center; position:relative; margin:0 auto;
}
.every_wrap .banner .content .new_user {color:var(--estee-white); font-size:var(--pc-font-body-12);}
.every_wrap .banner .content #close {width:24px; height:24px; position:absolute; top:-4px; right:0px;}
.every_wrap .banner .content #close img {width:100%; height:100%;}
/* ------------------------띠배너 종료 */

/* 헤더 시작 */

/* 로고 */
.every_wrap header {
    width:100%; height:60px;
    display:flex; align-items:center; padding:0 120px;
    justify-content: space-between; position:absolute; z-index:500;
    top:45px;
}


/* 메뉴 호버 시 변경되는 구간 */
/* 1. 메뉴 호버 시 백그라운드 */
.every_wrap header.active::after{
    display:block;
    content:''; position:absolute; left:0; top:0px;
    width:100%; height:100vh; background:linear-gradient(180deg, #fff 55%, transparent);
    z-index:-1;
}
/* 2. 메뉴 호버 시 메뉴 글자 색상,굵기 변경 */
.every_wrap header.active > nav > .menu > li > a {
    color:var(--estee-black); 
}
.every_wrap header.active > nav > .menu > li:nth-child(3) > a {
    color:var(--estee-primary); font-weight:var(--pc-font-weight-600);
}
/* 3. 메뉴 호버 시 로고, 아이콘 색상 반전   */
.every_wrap header.active h1 > a > img {filter:invert(0);}
.every_wrap header.active .user_func > a > img {filter:invert(1);}

/* 메뉴 호버 시 변경되는 구간 종료 */


.every_wrap header h1 {width:150px; height:160px;}
.every_wrap header h1 a {width:100%; height:100%;}
.every_wrap header h1 a img {width:100%; height:100%; filter:invert(1);}

/* 로고 종료 */
/* 내비게이션 부분 */
.every_wrap header nav {}
.every_wrap header nav .menu {
    display:flex; justify-content: center; align-items:center;

}
.every_wrap header nav .menu > li {
    width:150px; line-height:60px; text-align:center;
}
.every_wrap header nav .menu > li > a {color:#fff;}
.every_wrap header nav .menu > li .hover_menu_wrap {
    width:100%; position:absolute; left:0; top:50px;
    display:none; padding:50px;
}
.every_wrap header nav .menu > li .hover_menu_wrap::after{}
.every_wrap header nav .menu > li .hover_menu_wrap .hover_menu_group {
    background-color:#fff;
    display:flex; padding:0 60px; width:max-content; margin:0 auto; gap:120px;
}
.every_wrap header nav .menu > li .hover_menu_wrap .hover_menu_group .makeup_hover {
    display:flex; margin:0 auto; gap:120px; z-index:var(--z-index-200);
    position:relative;
}
.every_wrap header nav .menu > li .hover_menu_wrap .hover_menu_group .makeup_hover > li {
    width:max-content; display:flex; flex-flow:column nowrap; gap:13px;
    text-align:left;
}
.every_wrap header nav .menu li > .hover_menu_wrap .hover_menu_group .makeup_hover > li .menu_title {
    font-size:var(--pc-font-body-16);
    font-weight:var(--pc-font-weight-500); color:var(--estee-black);
}
.every_wrap header nav .menu li > .hover_menu_wrap .hover_menu_group .makeup_hover > li > ul[class*="_menu"] {
    display:flex; flex-flow:column nowrap; gap:15px;
}
.every_wrap header nav .menu li > .hover_menu_wrap .hover_menu_group .makeup_hover > li > ul[class*="_menu"] a {
    color:var(--estee-gray); font-size:var(--pc-font-weight-400); 
}
.every_wrap header nav .menu li .hover_menu_wrap .hover_menu_group .menu_img {
    position:relative; z-index: var(--z-index-200); width:350px; height:250px;
}
.every_wrap header nav .menu li .hover_menu_wrap .hover_menu_group .menu_img img {
    width:100%; height:100%;
}

.every_wrap header .user_func {display:flex; gap:12px;}
.every_wrap header .user_func a {}
.every_wrap header .user_func a img {filter:invert(0);}
/* 히어로배너 */ 
.every_wrap main .hero {
    width:100%; height:100vh; position:relative;}
.every_wrap main .hero .hero_wrap {
    width:100%; height:100%; position:absolute;
    top:0; left:0;
}
.every_wrap main .hero .hero_wrap .swiper-wrapper {
    width:100%; height:100%;
}
.every_wrap main .hero .hero_wrap .hero_banner1 {
    width:100%; height:100%;
    background-image:url(../images/banner_hero.jpg);
    background-size:cover;
}
.every_wrap main .hero .hero_wrap .hero_banner2 {
    width:100%; height:100%;
    background-image:url(../images/banner_hero.jpg);
    background-size:cover;
}
.every_wrap main .hero .hero_wrap .hero_banner3 {
    width:100%; height:100%;
    background-image:url(../images/banner_hero.jpg);
    background-size:cover;
}
/* 스와이퍼(히어로) 설정 */
.every_wrap main .hero .hero_wrap .swiper-pagination{}
.every_wrap main .hero .hero_wrap .swiper-pagination-fraction{
    position:absolute; width:auto;
    left:auto; right:138px; bottom:114px;
}
.every_wrap main .hero .swiper-pagination, .swiper-pagination-total {
    color:var(--estee-gray); font-size:var(--pc-font-body-16);
}
.every_wrap main .hero .swiper-pagination-current {
    color:var(--estee-white); font-size:var(--pc-font-body-16);
}
.every_wrap main .hero .swiper-button-next {
    background-image:url(../images/next_prev_icon.svg);
    width:36px; height:72px; position:absolute;
    right:40px;
}
.every_wrap main .hero .swiper-button-next svg {display:none;}
.every_wrap main .hero .swiper-button-prev svg {display:none;}
.every_wrap main .hero .swiper-button-prev {
    background-image:url(../images/next_prev_icon.svg);
    transform:scaleX(-1);
    width:36px; height:72px; position:absolute;
    left:40px;
}
.every_wrap main .hero .swiper-button-prev svg {display:none;}
/* 스와이퍼(히어로) 설정 종료 */
/* 1행 히어로배너 종료 */

/* 2행 베스트 상품부분 시작 */


/* 제목부분 */
.every_wrap main .best_product {padding:120px 0; width:1680px; margin:0 auto; position:relative;}
.every_wrap main .best_product .top {
    display:flex; flex-flow:row nowrap; align-items:center;
    justify-content: space-between; position:relative;
    margin-bottom:40px;
}
.every_wrap main .best_product .top .title {}
.every_wrap main .best_product .top .title .slogan {
    font-size:var(--pc-font-title-20); color:var(--estee-gray);
    line-height:1.2;
}
.every_wrap main .best_product .top .title h3 {
    font-size:var(--pc-font-title-26); font-weight:var(--pc-font-weight-500);
}


/* 버튼 그룹 */
.every_wrap main .best_product .top .btn_group {
    position:absolute; left:50%; transform:translateX(-50%);
    display:flex; flex-flow:row nowrap; gap:14px;
}
.every_wrap main .best_product .top .btn_group button {
    color:var(--estee-deep-gray);
    width:135px; line-height:34px; border:1px solid var(--estee-deep-gray);
    border-radius:50px;
}
.every_wrap main .best_product .top .btn_group button.active {
    color:var(--estee-white); border:none; background-color:var(--estee-primary);
}
.every_wrap main .best_product .top .more_btn {}
.every_wrap main .best_product .top .more_btn > a {
    position:relative; font-size:var(--pc-font-body-14); line-height:var(--estee-line-height-150);
    color:var(--estee-gray);
}
.every_wrap main .best_product .top .more_btn > a > img  {
    position:absolute; left:0; top:16px;
}


/* 상품목록 시작 */

/* 상품목록 페이지네이션 설정 */
.every_wrap main .best_product .swiper-pagination {
    position:absolute; top:auto; bottom:71px; left:0;
    width:1680px; height:1px;
}
.every_wrap main .best_product .swiper-pagination .swiper-pagination-progressbar-fill{
    background-color:var(--estee-black); height:1px;
}
/* 상품목록 페이지네이션 종료 */


/* 상품영역 디자인 */
.every_wrap main .best_product .product_wrap {}
.every_wrap main .best_product .product_wrap .product_group {}
.every_wrap main .best_product .product_wrap .product_group .swiper-slide {}
.every_wrap main .best_product .product_wrap .product_group .swiper-slide a img {width:100%; margin-bottom:8px;}
.every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(1) {}
.every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(2) {}
.every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(2) h4 {
    font-size:var(--pc-font-body-16); font-weight:var(--pc-font-weight-400);
}
.every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(3) {}
.every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(3) p {
    font-size:var(--pc-font-body-16); font-weight:var(--pc-font-weight-500);
}
/* -------------------------2행 종료 */

/* ------------3행 아이유배너 시작 */
.every_wrap main .bannner_section {}
.every_wrap main .bannner_section > a {}
.every_wrap main .bannner_section > a > img {width:100%;}
/* 3행 종료 !!!!!!!!!!!!!!!!!!!!! */




/* -------------------4행 데일리 솔루션시작  */
.every_wrap main .daily_solution {padding:120px 0; display:flex; flex-flow:column nowrap; gap:30px;}
.every_wrap main .daily_solution > .top {
    width:1680px; margin:0 auto; display:flex; flex-flow:row nowrap;
    justify-content: space-between;
}
.every_wrap main .daily_solution > .top > .title {display:flex; flex-flow:column nowrap;}
.every_wrap main .daily_solution > .top > .title .slogan {
    font-size:var(--pc-font-title-20); color:var(--estee-gray);
    line-height:var(--estee-line-height-150);
}
.every_wrap main .daily_solution > .top > .title > h3 {
    font-size:var(--pc-font-title-26); color:var(--estee-black); font-weight:var(--pc-font-weight-500);
    line-height:var(--estee-line-height-150);
}
.every_wrap main .daily_solution > .top > .more_btn {
    color:var(--estee-gray); font-size:var(--pc-font-body-14);
    position:relative; line-height:var(--estee-line-height-150);
}
.every_wrap main .daily_solution > .top > .more_btn img {
    position:absolute; left:0; top:16px;
}





.every_wrap main .daily_solution > .daily_solution_product_wrap {
    width:1680px;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper {}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide{
    width:150px; display:flex; flex-flow:row nowrap; gap:20px; 
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide.active {
    display:flex; flex-flow:row nowrap; gap:20px; width:1200px; 
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .night > .big_thum{
    background-image:url(../images/thum_daily_1.jpg); background-repeat:no-repeat; position:relative;
    height:750px; width:150px;}
.every_wrap main .daily_solution .dailysolution_product_wrap .swiper-wrapper > .makeup > .big_thum {
    background-image:url(../images/thum_daily_2.jpg); background-repeat:no-repeat; position:relative;
    height:750px; width:150px;
}

.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .skincare > .big_thum{
    background-image:url(../images/thum_daily_3.jpg);
}

.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .perfume > .big_thum {
    background-image:url(../images/thum_daily_4.jpg);
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .big_thum .summary{
    position:absolute; left:40px; bottom:45px;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .big_thum .summary .title{
    font-size:var(--pc-font-title-24); color:var(--estee-white); line-height:var(--estee-line-height-150);
    font-weight:var(--pc-font-weight-400); margin-bottom:10px;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .big_thum .summary .hashtag {
    display:flex; flex-flow:row nowrap; gap:14px;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .big_thum .summary .hashtag span{
    font-size:var(--pc-font-body-16); color:var(--estee-white); font-weight:lighter;
    padding:6px 10px; background-color:rgba(255,255,255,0.2); border-radius:8px;
}





.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list {
    display:flex; flex-flow:column nowrap; gap:10px;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li{
    position:relative;
    display:flex; flex-flow:row nowrap; gap:20px;
    width:572.5px; height:243.33px;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .small_thum{
    width:237px; height:243px; display:block; 
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .small_thum img{
    width:100%; height:100%; object-fit:cover;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .product_wrap {}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .product_wrap p {}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .product_wrap .tag {
    font-size:var(--pc-font-body-12); font-weight:var(--pc-font-weight-200); background-color:var(--estee-primary);
    padding:2px 6px; color:var(--estee-white); width:max-content; line-height:var(--estee-line-height-150);
    margin-bottom:5px;
}.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li:nth-child(2) .product_wrap .tag {
    background-color:#8A431A;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .product_wrap .name {
    margin-bottom:30px; font-size:var(--pc-font-body-16); font-weight:var(--pc-font-weight-400);
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li .product_wrap .price {}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li > .add_cart {
    position:absolute; right:0; top:70px;
}
.every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li > .add_cart img {width:100%;}




