/* index.css */
/* ----------------pc버전 시작점 */
body * {box-sizing:border-box;}
body {width:100%; height:100vh;}
/* 띠배너 */
.every_wrap {width:100%;}
.every_wrap .hero {
    width:100%; height:100vh; position:relative;}
/* 히어로배너 */ 
.every_wrap .hero .hero_wrap {
    width:100%; height:100%; position:absolute;
    top:0; left:0;
}
.every_wrap .hero .hero_wrap .swiper-wrapper {
    width:100%; height:100%;
}
.every_wrap .hero .hero_wrap .hero_banner1 {
    width:100%; height:100%;
    background-image:url(../images/banner_hero.jpg);
    background-size:cover;
}
.every_wrap .hero .hero_wrap .hero_banner2 {
    width:100%; height:100%;
    background-image:url(../images/favi_esteelauer.jpg);
    background-size:cover;
}
.every_wrap .hero .hero_wrap .hero_banner3 {
    width:100%; height:100%;
    background-image:url(../images/banner_hero.jpg);
    background-size:cover;
}
/* 스와이퍼 설정 */
.every_wrap .hero .hero_wrap .swiper-pagination{
    position:absolute; right:138px; bottom:114px;
}
.every_wrap .hero .swiper-pagination, .swiper-pagination-total {
    color:var(--estee-gray); font-size:var(--pc-font-body-16);
}
.every_wrap .hero .swiper-pagination-current {
    color:var(--estee-white); font-size:var(--pc-font-body-16);
}
.every_wrap .hero .swiper-button-next {
    background-image:url(../images/next_prev_icon.svg);
    width:36px; height:72px; position:absolute;
    top:414px; right:40px;
}
.every_wrap .hero .swiper-button-next svg {display:none;}
.every_wrap .hero .swiper-button-prev {
    background-image:url(../images/next_prev_icon.svg);
    transform:scaleX(-1);
    width:36px; height:72px; position:absolute;
    left:40px;
}
.every_wrap .hero .swiper-button-prev svg {display:none;}
/* 스외이퍼 설정 종료 */
/* 히어로배너 종료 */
.every_wrap .hero header {
    width:100%; height:30px; position:absolute; z-index:30;
    left:0; top:0;
}
.every_wrap .hero header .banner {
    display:flex; flex-flow:row nowrap; align-items: center;
    justify-content: center; padding:0 120px;
    background-color:var(--estee-black);
}
.every_wrap .hero header .banner span:nth-child(1) {width:1656px; text-align:center; display:block;}
.every_wrap .hero header .banner span > .new_user  { 
    font-size:var(--pc-font-body-12); color:var(--estee-white);
    
}
.every_wrap .hero header .banner > span:nth-child(2) {width:24px; height:24px;}
.every_wrap .hero header .banner > span #close {}
.every_wrap .hero header .banner > span #close img {width:100%; height:100%;}
/* ------------------------띠배너 종료 */
/* 내비메뉴 시작 */
.every_wrap nav {
    width:100%; height:60px; display:flex; justify-content: space-between; align-items: center;
    padding:0 100px;
}
.every_wrap nav .logo {
    font-family:var(--pc-optima-fonts); font-size:var(--pc-font-title-22); color:var(--estee-white);
}
.every_wrap nav .menu {}
.every_wrap nav .menu * {
    font-family: var(--pc-pretendard-fonts); font-size:var(--pc-font-body-16); color:var(--estee-white);
    font-weight:var(--pc-font-weight-400);
}
.every_wrap nav .menu > a {display:inline-block; width:150px; line-height:60px; text-align:center;}
.every_wrap nav .user_func {display:flex; flex-flow:row nowrap; gap:12px;}
.every_wrap nav .user_func > a {}
.every_wrap nav .user_func > a img {}

/* 내비게이션 호버 시 */
.every_wrap nav .menu::after {}