/* index.css */
/* ----------------pc버전 시작점 */
body * {box-sizing:border-box;}
body {width:100%; height:100vh;}
/* 띠배너 */
.every_wrap {width:100%;}
.every_wrap .banner {
    width:100%; background-color:var(--estee-black); height:40px; display:flex; align-items: center;
}
.every_wrap .banner .content {
    width:1680px; text-align:center; position:relative; background-color:brown; margin:0 auto;
}
.every_wrap .banner .content .new_user {color:var(--estee-white); font-size:var(--pc-font-body-12);}
.every_wrap .banner .content #close {width:24px; height:24px; position:absolute; top:-4px; right:0px;}
.every_wrap .banner .content #close img {width:100%; height:100%;}

/* 내비메뉴 시작 */

/* 로고 */
.every_wrap header {
    width:100%; height:60px; background-color:#ff0;
    display:flex; align-items:center; padding:0 120px;
    justify-content: space-between; position:absolute; z-index:500;
}
.every_wrap header h1 {width:150px; height:160px;}
.every_wrap header h1 a {width:100%; height:100%;}
.every_wrap header h1 a img {width:100%; height:100%;}

/* 로고 종료 */
.every_wrap header nav {}
.every_wrap header nav .menu {display:flex; justify-content: center; align-items:center;}
.every_wrap header nav .menu li {width:150px; line-height:60px; background-color:#f00; text-align:center;}
.every_wrap header nav .menu li a {}
.every_wrap header nav .menu li .hover_menu_wrap {width:100%; position:absolute; left:0; top:60px;}
.every_wrap header nav .menu li .hover_menu_wrap .hover_menu_group {
    background-color:blue;
    display:flex;
}
.every_wrap header nav .menu li .hover_menu_wrap .hover_menu_group .makeup_hover {display:flex; margin:0 auto; gap:120px;}
.every_wrap header nav .menu li .hover_menu_wrap .hover_menu_group .makeup_hover li {width:max-content;}
.every_wrap header nav .menu li .hover_menu_wrap .hover_menu_group .makeup_hover li .menu_title {}
.every_wrap header nav .menu li .hover_menu_wrap .hover_menu_group .makeup_hover li ul[class*="_menu"] {}
.every_wrap header nav .menu li .hover_menu_wrap .hover_menu_group .makeup_hover li ul[class*="_menu"] a {}
.every_wrap header nav .menu li .hover_menu_wrap .hover_menu_group .menu_img {}
.every_wrap header nav .menu li .hover_menu_wrap .hover_menu_group .menu_img img {}

.every_wrap header .user_func {display:flex; gap:12px;}
.every_wrap header .user_func a {}
.every_wrap header .user_func a img {filter:invert(1);}
/* 히어로배너 */ 
.every_wrap .hero {
    width:100%; height:100vh; position:relative;}
.every_wrap .hero .hero_wrap {
    width:100%; height:100%; position:absolute;
    top:0; left:0;
}
.every_wrap .hero .hero_wrap .swiper-wrapper {
    width:100%; height:100%;
}
.every_wrap .hero .hero_wrap .hero_banner1 {
    width:100%; height:100%;
    background-image:url(../images/banner_hero.jpg);
    background-size:cover;
}
.every_wrap .hero .hero_wrap .hero_banner2 {
    width:100%; height:100%;
    background-image:url(../images/banner_hero.jpg);
    background-size:cover;
}
.every_wrap .hero .hero_wrap .hero_banner3 {
    width:100%; height:100%;
    background-image:url(../images/banner_hero.jpg);
    background-size:cover;
}
/* 스와이퍼 설정 */
.every_wrap .hero .hero_wrap .swiper-pagination{}
.every_wrap .hero .hero_wrap .swiper-pagination-fraction{
    position:absolute; width:auto;
    left:auto; right:138px; bottom:114px;
}
.every_wrap .hero .swiper-pagination, .swiper-pagination-total {
    color:var(--estee-gray); font-size:var(--pc-font-body-16);
}
.every_wrap .hero .swiper-pagination-current {
    color:var(--estee-white); font-size:var(--pc-font-body-16);
}
.every_wrap .hero .swiper-button-next {
    background-image:url(../images/next_prev_icon.svg);
    width:36px; height:72px; position:absolute;
    top:414px; right:40px;
}
.every_wrap .hero .swiper-button-next svg {display:none;}
.every_wrap .hero .swiper-button-prev {
    background-image:url(../images/next_prev_icon.svg);
    transform:scaleX(-1);
    width:36px; height:72px; position:absolute;
    left:40px;
}
.every_wrap .hero .swiper-button-prev svg {display:none;}
/* 스외이퍼 설정 종료 */
/* 히어로배너 종료 */
.every_wrap .hero header {
    width:100%; height:30px; position:absolute; z-index:30;
    left:0; top:0;
}
/* ------------------------띠배너 종료 */
