/* product_page.css */
body{background-color:#FBFBFB;}
.cta_btn {
    position:fixed; bottom:10px; right:10px; z-index:var(--z-index-400);
}
.cta_btn > #cta_non_active {
    font-family:var(--optima-m-fonts); font-size:var(--pc-font-micro-10);
    width:90px; height:90px; border-radius:100%;
    background-color:var(--estee-primary); color:var(--estee-white);
    border:2px solid #CD9D43; font-weight:100; overflow:hidden;
}
.cta_btn > #cta_non_active > img {
    width:50%; height:50%; text-align:center;
}
.cta_btn > .cta_active {
    display:none; flex-flow:column-reverse nowrap; 
    box-shadow:5px 0 10px rgba(0,0,0,0.5); border-radius:80px;
}
.cta_btn > .cta_active > #cta_close {
    width:90px; height:90px; background-color:var(--estee-primary);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.cta_btn > .cta_active > #cta_close > img {}


.cta_btn > .cta_active > #search_shop {
    display:flex; flex-flow:column-reverse nowrap; align-items:center; justify-content: center;
    font-size:var(--pc-font-body-14); color:var(--estee-white); width:90px; height:90px; gap:10px;
    background-color:var(--estee-primary);
}
.cta_btn > .cta_active > #search_shop > img {}



.cta_btn > .cta_active > #customer {
    display:flex; flex-flow:column-reverse nowrap; width:90px; height:90px;
    justify-content: center;
    font-size:var(--pc-font-body-14); color:var(--estee-white); align-items:center; gap:10px;
    background-color:var(--estee-primary);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
.cta_btn > .cta_active > #customer > img{width:14px; height:14px;}

/* 띠배너 */
.every_wrap {width:100%; position:relative;}
.every_wrap .banner {
    width:100%; background-color:var(--estee-black); height:45px; display:flex; align-items: center;
    position:absolute; z-index:var(--z-index-500);
    left:0; top:0;
}
.every_wrap .banner .content {
    width:1680px; text-align:center; position:relative; margin:0 auto;
}
.every_wrap .banner .content .new_user {color:var(--estee-white); font-size:var(--pc-font-body-12);}
.every_wrap .banner .content #close {width:24px; height:24px; position:absolute; top:-4px; right:0px;}
.every_wrap .banner .content #close img {width:100%; height:100%;}
/* ------------------------띠배너 종료 */

/* 헤더 시작 */

.every_wrap header {
    width:100%; height:60px;
    display:flex; align-items:center; padding:0 120px;
    justify-content: space-between; position:absolute; z-index:500;
    top:45px; background-color:var(--estee-white);
}
.every_wrap header .user_func {
    display:flex; gap:12px;
}
.every_wrap header .user_func #mobile_menu_btn {display:none ;width:24px; height:24px;}
.every_wrap header .user_func #mobile_menu_btn img {width:100%;}


/* 메뉴 호버 시 변경되는 구간 */
/* 1. 메뉴 호버 시 백그라운드 */
.every_wrap header.active::after{
    display:block;
    content:''; position:absolute; left:0; top:0px;
    width:100%; height:100vh; background:linear-gradient(180deg, #fff 55%, transparent);
    z-index:-1;
}
.every_wrap header.active .user_func {}
/* 2. 메뉴 호버 시 메뉴 글자 색상,굵기 변경 */
.every_wrap header.active > nav > .menu > li > a {
    color:var(--estee-black); 
}
.every_wrap header > nav > .menu > li.active > a {
    color:var(--estee-primary); font-weight:var(--font-weight-600);
}
/* 3. 메뉴 호버 시 로고, 아이콘 색상 반전   */
.every_wrap header.active h1 > a > img {}
.every_wrap header .user_func > a > img {filter:invert(1);}

/* 메뉴 호버 시 변경되는 구간 종료 */


.every_wrap header h1 {}
.every_wrap header h1 a {width:150px; height:60px; display:block;}
.every_wrap header h1 a img {width:100%; height:100%;filter:invert(1);}

/* 로고 종료 */
/* 내비게이션 부분 */
.every_wrap header nav {}
.every_wrap header nav .menu {
    display:flex; justify-content: center; align-items:center;
}
.every_wrap header nav .menu > li {
    width:150px; line-height:60px; text-align:center;
}
.every_wrap header nav .menu > li > a {color:var(--estee-black);}
.every_wrap header nav .menu > li .hover_menu_wrap_makeup,
.every_wrap header nav .menu > li .hover_menu_wrap_skin {
    width:100%; position:absolute; left:0; top:40px;
    display:none; padding:50px; background-color:#fff;
}
.every_wrap header nav .menu > li .hover_menu_wrap_makeup::after{}
.every_wrap header nav .menu > li .hover_menu_wrap_makeup .hover_menu_group,
.every_wrap header nav .menu > li .hover_menu_wrap_skin .hover_menu_group {
    background-color:#fff;
    display:flex; padding:0 60px; width:max-content; margin:0 auto; gap:120px;
}
.every_wrap header nav .menu > li .hover_menu_wrap_makeup .hover_menu_group .makeup_hover,
.every_wrap header nav .menu > li .hover_menu_wrap_skin .hover_menu_group .skin_hover {
    display:flex; margin:0 auto; gap:120px; z-index:var(--z-index-200);
    position:relative;
}
.every_wrap header nav .menu > li .hover_menu_wrap_makeup .hover_menu_group .makeup_hover > li,
.every_wrap header nav .menu > li .hover_menu_wrap_skin .hover_menu_group .skin_hover > li {
    width:max-content; display:flex; flex-flow:column nowrap; gap:13px;
    text-align:left;
}
.every_wrap header nav .menu li > .hover_menu_wrap_makeup .hover_menu_group .makeup_hover > li .menu_title,
.every_wrap header nav .menu li > .hover_menu_wrap_skin .hover_menu_group .skin_hover > li .menu_title {
    font-size:var(--pc-font-body-16);
    font-weight:var(--font-weight-500); color:var(--estee-black);
}
.every_wrap header nav .menu li > .hover_menu_wrap_makeup .hover_menu_group .makeup_hover > li > ul[class*="_menu"],
.every_wrap header nav .menu li > .hover_menu_wrap_skin .hover_menu_group .skin_hover > li > ul[class*="_menu"] {
    display:flex; flex-flow:column nowrap; gap:15px;
}
.every_wrap header nav .menu li > .hover_menu_wrap_makeup .hover_menu_group .makeup_hover > li > ul[class*="_menu"] a,
.every_wrap header nav .menu li > .hover_menu_wrap_skin .hover_menu_group .skin_hover > li > ul[class*="_menu"] a {
    color:var(--estee-gray); font-size:var(--font-weight-400); 
}
.every_wrap header nav .menu li .hover_menu_wrap_makeup .hover_menu_group .menu_img,
.every_wrap header nav .menu li .hover_menu_wrap_skin .hover_menu_group .menu_img {
    position:relative; z-index: var(--z-index-200); width:350px; height:250px;
}
.every_wrap header nav .menu li .hover_menu_wrap_makeup .hover_menu_group .menu_img img,
.every_wrap header nav .menu li .hover_menu_wrap_skin .hover_menu_group .menu_img img {
    width:100%; height:100%;
}
.every_wrap header .mobile_nav {
    background-color:var(--estee-white);
    width:75%; max-width:360px; height:100dvh; position:fixed; right:0; top:0;
    padding:60px 0; border-top-left-radius: 50px; border-bottom-left-radius: 50px;
    display:flex; flex-flow:column nowrap;
    overflow-y:auto; transform:translateX(100%); /* transition:transform 0.3s ease; */
}
.every_wrap header .mobile_nav.active {transform:translateX(0);}
/* 모바일 메뉴 클릭 시 화살표 회전 */
.every_wrap header .mobile_nav li #mobile_skin_btn span.active img {transform:rotate(180deg);}
.every_wrap header .mobile_nav li #mobile_makeup_btn span.active img {transform:rotate(180deg);}
.every_wrap header .mobile_nav li #mobile_renutriv_btn span.active img {transform:rotate(180deg);}
.every_wrap header .mobile_nav li #mobile_skin_btn span img {transition:transform 0.5s ease;}
.every_wrap header .mobile_nav li #mobile_makeup_btn span img {transition:transform 0.5s ease;}
.every_wrap header .mobile_nav li #mobile_renutriv_btn span img {transition:transform 0.5s ease;}
.every_wrap header .mobile_nav > .top {
    display:flex; gap:91px; padding:20px 15px;
    border-bottom:1px solid #ddd; margin-bottom:15px;
}
.every_wrap header .mobile_nav > .top h2 {}
.every_wrap header .mobile_nav > .top h2 img {}
.every_wrap header .mobile_nav > .top h2 img {}
.every_wrap header .mobile_nav > .top .icon {
    display:flex; flex-flow:row nowrap; gap:8px;
}
.every_wrap header .mobile_nav > .top .icon a {
    display:block; width:22px; height:22px;
}
.every_wrap header .mobile_nav > .top .icon a img{width:100%;}
/* 상단부분 종료 */
.every_wrap header .mobile_nav > li {
    padding:15px 15px;
}
.every_wrap header .mobile_nav li button {
    font-size:var(--pc-font-body-16); font-weight:var(--font-weight-600); margin-bottom:15px;
    width:100%; text-align:left; display:flex; flex-flow:row nowrap; justify-content: space-between; align-items:center;
}
.every_wrap header .mobile_nav li button span {}
.every_wrap header .mobile_nav li button span img {}
.every_wrap header .mobile_nav li > ul {
    display:none; flex-flow:column nowrap; gap:17px;
    margin-bottom:15px;
}
.every_wrap header .mobile_nav li > ul > .subtitle {
    font-size:var(--pc-font-body-14); font-weight:var(--font-weight-400); padding:12px 0;
    border-bottom:1px solid #000;
}
.every_wrap header .mobile_nav li > ul > li {
    padding:0 17px;
}
.every_wrap header .mobile_nav li > ul > li > a {
    font-size:var(--pc-font-body-12); color:var(--estee-gray);
}
.every_wrap header .mobile_nav li > ul > li > img{}




footer * {color:#fff;}
footer {
    background-color:var(--estee-black); display:flex; flex-flow:row nowrap; height:486px; gap:471px;
    position:relative; padding:60px 120px; overflow:hidden;
}
footer > .left {height:max-content;}
footer > .left > .slogan {
    display:flex; flex-flow:column nowrap; gap:36px;  position:relative;
}


footer > .left > .slogan > .first,
footer > .left > .slogan > .second,
footer > .left > .slogan > .third {
    font-family:var(--optima-fonts); font-size:var(--pc-font-title-32);
}





footer > .left > .slogan > .first {position:relative;}
footer > .left > .slogan > .first::before {
    display:block; width:6px; height:6px; content:''; background-color:var(--estee-white); position:absolute;
    border-radius:50px; left:4px; top:-14px;
}
footer > .left > .slogan > .second {position:relative;}
footer > .left > .slogan > .second::before {
    display:block; width:6px; height:6px; content:''; background-color:var(--estee-white); position:absolute;
    border-radius:50px; left:4px; top:-14px;
}
footer > .left > .slogan > .third{position:relative;}
footer > .left > .slogan > .third::before{
    display:block; width:6px; height:6px; content:''; background-color:var(--estee-white); position:absolute;
    border-radius:50px; left:4px; top:-14px;
}
footer > .left > .slogan > .copyright {
    font-size:var(--pc-font-body-16); color:var(--estee-gray);
}





footer > address {
    display:flex; flex-flow:row nowrap; gap:70px; height:max-content;
}
footer > address > .left {
    display:flex; flex-flow:column nowrap; gap:6px;
}
footer > address > .left > p {
    font-size:var(--pc-font-body-16); color:var(--estee-gray); line-height:var(--estee-line-height-150);
}



footer > address > .right {
    display:flex; flex-flow:column nowrap; gap:8px;
}
footer > address > .right > a {
    font-size:var(--pc-font-body-16); color:var(--estee-gray);
}
footer > address > .right > p {
    font-size:var(--pc-font-body-16); color:var(--estee-gray);
}
footer > address > .right > .sns {
    display:flex; flex-flow:row nowrap; gap:8px;
}
footer > address > .right > .sns > a {}
footer > address > .right > .sns > a > img {}

footer > .biglogo {
    position:absolute; left:123px; bottom:-70px;
}
/* =======================헤더 , 풋터 CSS 종료 */



/* =======================상세정보 영역 css 시작 */

.every_wrap {}
.every_wrap .product_details {padding:180px 0; width:1193px; margin:0 auto; display:flex; flex-flow:column nowrap; gap:60px;}
.every_wrap .product_details .product_area {display:flex; flex-flow:row nowrap; gap:60px;}


/* ===================================썸네일 부분 CSS */
.every_wrap .product_details .product_area .thumnail {display:flex; flex-flow:row nowrap; gap:8px; height:max-content;}
.every_wrap .product_details .product_area .thumnail .small_thum {display:flex; flex-flow:column nowrap; gap:6px; align-items:center;}
.every_wrap .product_details .product_area .thumnail .small_thum p {width:70px; height:70px;}
.every_wrap .product_details .product_area .thumnail .small_thum p img{width:100%; height:100%;}
.every_wrap .product_details .product_area .thumnail .big_thum {
    background-image:url(../images/product_big_thum.jpg); width:600px; height:600px;
}
/* ====================================썸네일 종료 */



/* ====================================================================================== 제품 제목 , 내용 , 자세히보기 */
.every_wrap .product_details .product_area .product_info {}
.every_wrap .product_details .product_area .product_info .top {display:flex; flex-flow:column nowrap; gap:10px; justify-content:flex-start; margin-bottom:14px;}
.every_wrap .product_details .product_area .product_info .top .eng_title {font-family:var(--optima-fonts); font-size:var(--pc-font-title-24); color:var(--estee-primary); line-height:1.3;}
.every_wrap .product_details .product_area .product_info .top .kor_title {font-size:var(--pc-font-title-20); line-height:1.5;}
.every_wrap .product_details .product_area .product_info .top .info {
    font-size:var(--pc-font-body-14); color:var(--estee-gray); line-height:1.5;
    text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;
    overflow:hidden;
}
.every_wrap .product_details .product_area .product_info .top .info.active {
    -webkit-line-clamp:unset; overflow:visible;
}
.every_wrap .product_details .product_area .product_info .top .info.active ~ #more_summary img {transform:rotate(180deg);}
.every_wrap .product_details .product_area .product_info .top #more_summary {
    display:flex; align-items:center; gap:4px; font-size:var(--pc-font-body-12); line-height:1.4; color:var(--estee-gray);
    width:max-content;
}
.every_wrap .product_details .product_area .product_info .top #more_summary img {transition:transform 0.3s;}
/* ======================================================================================= */

/* =========================================================================옵션 선택 영역 */
.every_wrap .product_details .product_area .product_info #color_select_form {}
.every_wrap .product_details .product_area .product_info #color_select_form .middle {}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_info {font-size:var(--pc-font-body-14); font-weight:400; margin-bottom:20px;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle > .color_chip {display:flex; gap:14px; margin-bottom:11px; cursor:pointer;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle > .color_chip li {display:flex; flex-flow:column nowrap; gap:6px; align-items:center;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle > .color_chip li span:nth-child(1) {display:inline-block;width:30px; height:30px;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle > .color_chip li span:nth-child(2) {font-size:var(--pc-font-body-14); line-height:1.5;}


/* =====================================색상 선택 화살표 라인 */
.every_wrap .product_details .product_area .product_info #color_select_form .middle .color_picker {position:relative; z-index:200; margin-bottom:11px;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .color_picker::after {
    display:block; width:100%; height:1px; content:''; background-color:#ddd; position:absolute;
    top:50%; transform:translateY(-50%); z-index:-1; left:0;
}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .color_picker img {
    transform:translateX(8px);
}



/* =======================================색상 셀렉트 박스 */
/* ------------------------------기본 박스영역 */
.every_wrap .product_details .product_area .product_info #color_select_form .middle .color_select {}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .color_select #color_select_btn {
    width:455px; padding:10px 15px; display:flex; align-items:center; gap:20px;
    background-color:var(--estee-white); border:1px solid #CCCCCC;
    position:relative; margin-bottom:20px;
}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .color_select #color_select_btn > .color_chip {display:block; width:30px; height:30px; border-radius:30px;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .color_select #color_select_btn .select_name {font-size:var(--pc-font-body-12);}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .color_select #color_select_btn .more {position:absolute; right:15px; top:13px;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .color_select #color_select_btn .more img {}


/* --------------------------------펼쳤을때 */
.every_wrap .product_details .product_area .product_info #color_select_form .middle .select_list{display:none;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .select_list.active {transform:translateY(-20px);display:block;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .select_list.active li {
    width:455px; padding:10px 15px; display:flex; align-items:center; gap:20px;
    background-color:var(--estee-white); cursor:pointer; 
    border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc;
}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .select_list.active li > .color_chip {display:block; width:30px; height:30px; border-radius:30px;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .select_list.active li > span:nth-child(2) {
    font-size:var(--pc-font-body-12);
}



/* =======================옵션 선택 결과 */
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result {padding:20px 12px; background-color:#F5F5F5; margin-bottom:20px; display:none;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result .top {
    display:flex; flex-flow:row wrap; align-items: center; justify-content:space-between;
}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result .top .option_name {}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result .top #option_result_close {width:24px; height:24px;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result .top #option_result_close img {width:100%;}


.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result > .bottom {display:flex; justify-content: space-between; align-items:center;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result > .bottom .option_control{display:flex; align-items:center; gap:20px;}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result > .bottom .option_control #option_minus {}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result > .bottom .option_control #option_minus img{}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result > .bottom .option_control span{}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result > .bottom .option_control #option_plus {}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result > .bottom .option_control #option_plus img {}
.every_wrap .product_details .product_area .product_info #color_select_form .middle .option_result > .bottom .final_price {}

.every_wrap .product_details .product_area .product_info #color_select_form .middle .line {
    margin-bottom:20px; background-color:#ddd;
    width:100%; height:1px;
}



/* ===================================장바구니 , 구매, 배송정보 등 */
.every_wrap .product_details .product_area .product_info #color_select_form > .bottom {}
.every_wrap .product_details .product_area .product_info #color_select_form > .bottom .customer_btn_group {display:flex; flex-flow:row nowrap; gap:12px; margin-bottom:20px;}
.every_wrap .product_details .product_area .product_info #color_select_form > .bottom .customer_btn_group #add_a_new_btn {
    width:calc(100% - 222px); padding:10px 0; border:1px solid #ccc; display:flex; align-items:center; justify-content: center; gap:6px;
    font-size:var(--pc-font-body-12); color:var(--estee-gray); font-weight:500;
}
.every_wrap .product_details .product_area .product_info #color_select_form > .bottom .customer_btn_group #add_a_new_btn img {width:18px; height:18px;}
.every_wrap .product_details .product_area .product_info #color_select_form > .bottom .customer_btn_group #buy_btn {
    width:calc(100% - 222px); padding:10px 0; background-color:var(--estee-primary); color:#fff; font-size:var(--pc-font-body-12); font-weight:500;}


.every_wrap .product_details .product_area .product_info #color_select_form > .bottom .delivery_info {background-color:#f5f5f5; padding:10px 12px;}
.every_wrap .product_details .product_area .product_info #color_select_form > .bottom .delivery_info h3 {
    font-size:var(--pc-font-body-14); color:var(--estee-gray); line-height:1.5; margin-bottom:6px;
}
.every_wrap .product_details .product_area .product_info #color_select_form > .bottom .delivery_info .first {
    font-size:var(--pc-font-body-12); color:var(--estee-gray); line-height:1.4; margin-bottom:24px;
}
.every_wrap .product_details .product_area .product_info #color_select_form > .bottom .delivery_info .second {
    font-size:var(--pc-font-body-12); line-height:1.4; font-weight:500; color:#111;
}
.every_wrap .product_details .product_area .product_info #color_select_form > .bottom .delivery_info .third {
    font-size:var(--pc-font-body-12); line-height:1.4; color:var(--estee-gray);
}
.every_wrap .product_details .product_area .product_info #color_select_form > .bottom .delivery_info .third em {font-weight:500; color:var(--estee-primary);}





/* ===========================하단 상품 상세정보 시작 */
.every_wrap .product_details .product_info_area {width:100%; display:flex; flex-flow:column nowrap; gap:60px; align-items:center;}
.every_wrap .product_details .product_info_area .info_btn {display:flex; gap:60px; width:100%;}
.every_wrap .product_details .product_info_area .info_btn .active {color:var(--estee-black); font-weight:500; border-bottom:1px solid #000;}
.every_wrap .product_details .product_info_area .info_btn button {
    font-size:var(--pc-font-body-18); color:var(--estee-gray); line-height:1.5; font-weight:400; width:25%;height:60px;}
.every_wrap .product_details .product_info_area .product_details_wrap {width:100%;}
.every_wrap .product_details .product_info_area .product_details_wrap .product_image_wrap {width:100%; display:flex; flex-flow:column nowrap; gap:60px; margin-bottom:60px;}
.every_wrap .product_details .product_info_area .product_details_wrap .product_image_wrap .product_image1 {
    background-image:url(../images/details_bg_1.jpg); width:100%; height:650px;
}
.every_wrap .product_details .product_info_area .product_details_wrap .product_image_wrap .product_image2 {
    background-image:url(../images/details_bg_2.jpg); width:100%; height:650px;
}
.every_wrap .product_details .product_info_area .product_details_wrap .product_image_wrap .product_image3 {
    background-image:url(../images/details_bg_3.jpg); width:100%; height:650px; background-size:cover;
}
.every_wrap .product_details .product_info_area .product_details_wrap .product_image_wrap .product_image4 {
    background-image:url(../images/details_bg_4.jpg); width:100%; height:650px;
}

/* =============================주의사항 */
.every_wrap .product_details .product_info_area .product_details_wrap .product_warning_wrap {display:flex; flex-flow:column nowrap; gap:30px;}
.every_wrap .product_details .product_info_area .product_details_wrap .product_warning_wrap h2 {
    font-size:var(--pc-font-body-18); line-height:1.5; font-weight:500;
}
.every_wrap .product_details .product_info_area .product_details_wrap .product_warning_wrap .product_warning_info {display:flex; flex-flow:row wrap;}
.every_wrap .product_details .product_info_area .product_details_wrap .product_warning_wrap .product_warning_info > * {
    border-bottom : 1px solid #888888; min-height:60px; padding:30px 0;
}
.every_wrap .product_details .product_info_area .product_details_wrap .product_warning_wrap .product_warning_info dt {
    width:250px; font-size:var(--pc-font-body-16); color:#888; line-height:1.5; font-weight:500;
}
.every_wrap .product_details .product_info_area .product_details_wrap .product_warning_wrap .product_warning_info dt:nth-child(3){display:flex; align-items:center;}
.every_wrap .product_details .product_info_area .product_details_wrap .product_warning_wrap .product_warning_info dd:nth-child(4){display:flex; flex-flow:column nowrap; gap:15px; white-space:nowrap;}
.every_wrap .product_details .product_info_area .product_details_wrap .product_warning_wrap .product_warning_info dd {width:calc(100% - 250px);}
.every_wrap .product_details .product_info_area .product_details_wrap .product_warning_wrap .product_warning_info dd p{}