/* reponsive.css */
@media screen and (max-width:1820px) {
    .every_wrap main .best_product {width:calc(100% - 120px); padding:120px 0;}
    .every_wrap main .daily_solution {width:calc(100% - 120px);
}
}








@media screen and (max-width:1760px){
    /* 데일리 솔루션 타이틀 모어버튼 부분 */
    .every_wrap main .daily_solution {width:calc(100% - 120px);}
    .every_wrap main .daily_solution > .top {
        width:100%;
    }

    .every_wrap main .daily_solution > .daily_solution_product_wrap {}
    .every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper {gap:10px; width:100%;}
    .every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide{
        width:150px; display:flex; flex-flow:row nowrap; gap:20px; transition:width 0.4s cubic-bezier(0.65, -0.33, 0.26, 1.11);
    }


    .every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide.active{width:1200px;}
    .every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li{}

        /* 헤리티지 부분ㅇ */
    .every_wrap main .heritage {width:calc(100% - 120px);}
    .every_wrap main .heritage > .heritage_wrap > .title > .slogan {
    font-size:var(--pc-font-title-22);}
    .every_wrap main .heritage > .heritage_wrap > .title > h3 {
    font-size:var(--pc-font-title-26);}
    .every_wrap main .heritage > .heritage_wrap > .title > .summary {
    font-size:var(--pc-font-body-18);}


    .every_wrap main .heritage > .heritage_wrap > .hover_area {width:100%; height:700px;}
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] {
    width:33.3%; height:50%;
}
}
@media screen and (max-width:1708px){
    .every_wrap main > .bottom_area > .offline_shop > .top > .modelphoto {
    display:flex; flex-flow:row nowrap; padding:60px 0px; gap:40px; width:calc(100% - 120px); margin:0 auto; gap:10px;
}
.every_wrap main > .bottom_area > .offline_shop > .top > .modelphoto img {
    width:calc(25% - 7.5px); height:100%; object-fit: cover;
    }

    .every_wrap footer {
    height:486px; gap:250px; padding:60px 60px;
}
}
@media screen and (max-width:1680px){
    /* 베스트 상품 swiper크기/ 패딩값 적용 */

    /* 베스트 상품 pagination 프로그레스 바 설정 */
    .every_wrap main .best_product .swiper-pagination {
        bottom:70px; left:50%; 
        transform:translateX(-50%);width:100%;}
    
    .every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide {
        width:150px;
    }
    .every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide.active{}

    .every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide > .big_thum {}

    .every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide.active > .big_thum > .summary { /* 빅썸네일 내부 내용 액티브 적용시 보이기 */}


    .every_wrap main .daily_solution > .daily_solution_product_wrap .swiper-wrapper > .swiper-slide .product_list > li{
    }

    /* 리뉴트리브 */
    .every_wrap main .renutriv_area {}
    .every_wrap main .renutriv_area > .renutriv_content_wrap{width:calc(100% - 120px);}
    .every_wrap main .renutriv_area > .renutriv_content_wrap > .right > .renutriv_product_wrap > .swiper-wrapper > .swiper-slide > .product_thum {width:300px; height:300px;}
    .every_wrap main .renutriv_area > .renutriv_content_wrap > .right::after {
    position:absolute; display:block; content:''; top:0; right:20px;
    width:75px; height:100%; z-index:var(--z-index-400);
    background:linear-gradient(-90deg, #000, transparent);
    }
    /* 헤리티지 */
    .every_wrap main .heritage {width:calc(100% - 60px);}
    .every_wrap main .heritage > .heritage_wrap > .title > .slogan {
    font-size:var(--pc-font-title-22);}
    .every_wrap main .heritage > .heritage_wrap > .title > h3 {
    font-size:var(--pc-font-title-26);}
    .every_wrap main .heritage > .heritage_wrap > .title > .summary {
    font-size:var(--pc-font-body-18);}


    .every_wrap main .heritage > .heritage_wrap > .hover_area {width:100%; height:700px;}
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] {
    width:33.3%; height:50%;
}


}
@media screen and (max-width:1580px){
    /* 사이즈 축소시 메뉴버튼 사라지고 햄버거 버튼으로 대체 */
    .every_wrap header nav .menu{display:none;}
    .every_wrap header .user_func a:nth-child(1) {display:none;}
    .every_wrap header .user_func a:nth-child(2) > img {}
    .every_wrap header .user_func a:nth-child(3) {display:none;}
    .every_wrap header .user_func #mobile_menu_btn {display:block;}
    .every_wrap header .user_func #mobile_menu_btn > img {filter:invert(1);}

    /* 히어로배너 변경 */
    .every_wrap main .hero .hero_wrap .hero_banner1 {
    width:100%; height:100%;
    background-image:url(../images/hero_test.jpg);
    background-size:cover;
    }
}
@media screen and (max-width:1380px){
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] > .contents {font-size:var(--pc-font-body-18);}
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] > .contents_hover .title {font-size:var(--pc-font-body-18);}
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] > .contents_hover .summary {font-size:var(--pc-font-body-18);}
}
@media screen and (max-width:1368px) {
    .every_wrap footer > .left > .slogan > .first,
    .every_wrap footer > .left > .slogan > .second,
    .every_wrap footer > .left > .slogan > .third {
        font-family:var(--optima-fonts); font-size:var(--pc-font-title-26);
    }
    .every_wrap footer > .left > .slogan > .copyright {
    font-size:var(--pc-font-body-12);
    }
    .every_wrap footer > .left > .slogan > .point_dot1 {
    top:-12px; left:4px;
    }

    .every_wrap footer > .left > .slogan > .point_dot2 {
        top:48px; left:4px;
    }
    .every_wrap footer > .left > .slogan > .point_dot3 {
        left:4px; bottom:80px;
    }
    .every_wrap footer > address > .right > a {
    font-size:var(--pc-font-body-14); color:var(--estee-gray);
    }
    .every_wrap footer > address > .right > p {
    font-size:var(--pc-font-body-14); color:var(--estee-gray);
    }
    .every_wrap footer > address > .left > p {
    font-size:var(--pc-font-body-14); color:var(--estee-gray); line-height:var(--estee-line-height-150);
}
    .every_wrap footer > .biglogo {
    width:1150px; left:60px; bottom:-70px;
}
.every_wrap footer > .biglogo > img {
    width:100%;
}
}
@media screen and (max-width:1280px) {
    /* 히어로배너 */
    .every_wrap main .hero .hero_wrap .hero_banner1 {
    background-image:url(../images/hero_test.jpg); background-size:cover; background-position:70%; center;}

    .every_wrap main .hero .hero_wrap .hero_banner2 {
    background-image:url(../images/mobile_hero_non_text.jpg); background-size:cover; background-position:center;}

    .every_wrap main .hero .hero_wrap .hero_banner3 {
    background-image:url(../images/mobile_hero_non_text.jpg); background-size:cover; background-position:center;}

    /* 3행 아이유 배너 폰트 조정 */
    .every_wrap main .banner_section > .summary {gap:8px;}
    .every_wrap main .banner_section > .summary > p:nth-child(1) {font-size:var(--pc-font-body-16);}
    .every_wrap main .banner_section > .summary > p:nth-child(1)::after {width:100px;}
    .every_wrap main .banner_section > .summary > p:nth-child(1)::before {width:100px;}
    .every_wrap main .banner_section > .summary > p:nth-child(2) {font-size:var(--pc-font-body-18);}
    .every_wrap main .banner_section > .summary > p:nth-child(3) {font-size:var(--pc-font-body-18);}
    .every_wrap main .banner_section > .summary > p:nth-child(4) {font-size:var(--pc-font-body-16);}

    /* 리뉴트리브 */
    .every_wrap main .renutriv_area {}
    .every_wrap main .renutriv_area > .renutriv_content_wrap{width:calc(100% - 30px);}
    .every_wrap main .renutriv_area > .renutriv_content_wrap > .left > h3 {font-size:var(--pc-font-title-20);}
    .every_wrap main .renutriv_area > .renutriv_content_wrap > .left > .slogan {
    font-size:var(--pc-font-body-18);}
    .every_wrap main .renutriv_area > .renutriv_content_wrap > .left > .summary {font-size:var(--mobile-font-body-14);}


    .every_wrap main .renutriv_area > .renutriv_content_wrap > .left > .button_group > .research,
    .every_wrap main .renutriv_area > .renutriv_content_wrap > .left > .button_group > .everyproduct{
    font-size:var(--pc-font-body-12); padding:8px 14px;}


    .every_wrap main .renutriv_area > .renutriv_content_wrap > .right > .renutriv_product_wrap > .swiper-wrapper > .swiper-slide > .product_thum {width:250px; height:250px;}
    .every_wrap main .renutriv_area > .renutriv_content_wrap > .right::after {
    position:absolute; display:block; content:''; top:0; right:0px;
}

    .every_wrap main .renutriv_area > .renutriv_content_wrap > .right > .renutriv_product_wrap > .swiper-wrapper > .swiper-slide > .product_name {
        font-size:var(--pc-font-body-12);
    }
    .every_wrap main .renutriv_area > .renutriv_content_wrap > .right > .renutriv_product_wrap > .swiper-wrapper > .swiper-slide > .product_price {
        font-size:var(--pc-font-body-12);
    }
    /* 리뉴트리브 */
    .every_wrap main .heritage {padding:60px 0;}
    .every_wrap main .heritage > .heritage_wrap {width:calc(100% - 60px); margin:0 auto;}
    .every_wrap main .heritage > .heritage_wrap > .title > .slogan {
    font-size:var(--pc-font-title-22);}
    .every_wrap main .heritage > .heritage_wrap > .title > h3 {
    font-size:var(--pc-font-title-26);}
    .every_wrap main .heritage > .heritage_wrap > .title > .summary {
    font-size:var(--pc-font-body-18);}


    .every_wrap main .heritage > .heritage_wrap > .hover_area {width:100%; height:600px;}
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] {
    width:33.3%; height:50%;
}
}
@media screen and (max-width:1250px){
    .every_wrap footer {
    background-color:var(--estee-black); display:flex; flex-flow:row nowrap; height:486px; gap:350px;
    position:relative; padding:60px 30px; overflow:hidden;
}
    .every_wrap footer > .left > .slogan > .first,
    .every_wrap footer > .left > .slogan > .second,
    .every_wrap footer > .left > .slogan > .third {
        font-family:var(--optima-fonts); font-size:var(--pc-font-title-22);
    }
    .every_wrap footer > .left > .slogan > .copyright {
    font-size:var(--pc-font-micro-10);
    }
    .every_wrap footer > .left > .slogan > .point_dot1 {
    top:-15px; left:4px;
    }

    .every_wrap footer > .left > .slogan > .point_dot2 {
        top:42px; left:4px;
    }
    .every_wrap footer > .left > .slogan > .point_dot3 {
        left:4px; bottom:75px;
    }
    .every_wrap footer > address > .left > p {
    font-size:var(--pc-font-body-12); color:var(--estee-gray); line-height:var(--estee-line-height-150);}
    .every_wrap footer > address > .right > a {
    font-size:var(--pc-font-body-12); color:var(--estee-gray);
    }
    .every_wrap footer > address > .right > p {
    font-size:var(--pc-font-body-12); color:var(--estee-gray);
    }
}
@media screen and (max-width:1150px) {
    /* 띠배너 */
    .every_wrap .banner {height:30px;}
    /* 띠배너 설정 끝 */

    /* 헤더 백그라운드 흰색 변경 및 위치조정, 패딩, 크기조정, 이미지 색상반전 */
    .every_wrap header {top:30px; background-color:var(--estee-white); padding:0 30px;}
    .every_wrap header h1 {}
    .every_wrap header h1 > a {width:150px; height:60px; display:block;}
    .every_wrap header h1 > a > img {object-fit:cover; filter:invert(1); width:100%; height:100%;}
    /* 헤더 설정끝 */
    .every_wrap main .hero .hero_wrap .hero_banner1 > .title_sum > h2,
    .every_wrap main .hero .hero_wrap .hero_banner2 > .title_sum > h2,
    .every_wrap main .hero .hero_wrap .hero_banner3 > .title_sum > h2 {
        font-size:var(--pc-font-title-26); font-family:var(--optima-fonts);}

    .every_wrap main .hero .hero_wrap .hero_banner1 > .title_sum > p,
    .every_wrap main .hero .hero_wrap .hero_banner2 > .title_sum > p,
    .every_wrap main .hero .hero_wrap .hero_banner3 > .title_sum > p {font-size:var(--pc-font-title-20);}

    /* 내비게이션 햄버거메뉴, 검색메뉴 색상반전효과 */
    .every_wrap header .user_func > a:nth-child(2) > img {filter:invert(1);}
    .every_wrap header .user_func > #mobile_menu_btn > img {filter:invert(0);}
    /* 내비게이션 설정 끝 */

    .every_wrap main .best_product {width:calc(100% - 30px); padding:60px 0;} 
    .every_wrap main .best_product > .top {flex-flow:column nowrap; align-items:flex-start;justify-content: center; gap:22px; margin-bottom:43px;}
    .every_wrap main .best_product .swiper-pagination {
    bottom:30px;}


    .every_wrap main .best_product .top .title .slogan {font-size:var(--mobile-font-body-14); line-height:1.3;}
    .every_wrap main .best_product > .top .title h3 {font-size:var(--mobile-font-title-16); line-height:1.3;}
    /* 버튼 그룹 */
    .every_wrap main .best_product > .top > .btn_group {
    position:static; transform:translateX(0); gap:17px;}

    .every_wrap main .best_product > .top > .btn_group button {
    width:90px; line-height:28px; font-size:var(--pc-font-body-12);}

    /* more */
    .every_wrap main .best_product .top .more_btn {position:absolute; right:10px; top:13px;}

    .every_wrap main .best_product .top .more_btn > a {font-size:var(--mobile-font-body-12); line-height:1.3;}

    .every_wrap main .best_product .top .more_btn > a > img  {
    position:absolute; left:0; top:12px; width:32px; height:4px;}

    .every_wrap main .heritage > .heritage_wrap > .hover_area {
    background-position:center;}
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] > .contents {font-size:var(--mobile-font-body-14);}
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] > .contents_hover .title {font-size:var(--mobile-font-body-14);}
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] > .contents_hover .summary {font-size:var(--mobile-font-body-14);}

    .every_wrap main > .bottom_area > .offline_shop > .top > .title > h3{
    font-size:var(--pc-font-title-20);
}
    .every_wrap main > .bottom_area > .offline_shop > .top > .title > .slogan{
    font-size:var(--pc-font-body-16);
}
}
@media screen and (max-width:1120px){
    .every_wrap main > .bottom_area > .offline_shop > .top > .title {
    display:flex; flex-flow:column nowrap; align-items:center; margin-bottom:30px;}
    .every_wrap main > .bottom_area > .offline_shop > .top > .modelphoto {padding:0 30px; gap:10px; margin:0 auto;}
    .every_wrap main > .bottom_area > .offline_shop > .top > .modelphoto > img {
        width:25%; height:100%;
    }

    .every_wrap footer {
    background-color:var(--estee-black); display:flex; flex-flow:row nowrap; height:486px; gap:80px;
    position:relative; padding:60px 30px; overflow:hidden;
}
}



    /* 아이유 배너 글자크기 조정 */

@media screen and (max-width:1050px) {
    .every_wrap main .best_product .product_wrap .product_group .swiper-slide a img {width:100%; margin-bottom:8px;}
    .every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(1) {}
    .every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(2) {}
    .every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(2) h4 {
        font-size:var(--mobile-font-body-14); line-height:1.3;
    }
    .every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(3) {}
    .every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(3) p {
        font-size:var(--mobile-font-body-14); line-height:1.3;
    }


    .every_wrap main .renutriv_area > .renutriv_content_wrap {
        flex-flow:column nowrap; width:calc(100% - 30px); overflow:hidden;
        align-items:flex-start; gap:30px; padding:60px 0;
    }

    .every_wrap main .renutriv_area > .renutriv_content_wrap > .left > h3 {
    font-family:var(--optima-fonts); font-size:var(--mobile-font-title-16);}
    .every_wrap main .renutriv_area > .renutriv_content_wrap > .left > .slogan {
    font-size:var(--pc-font-body-14);}
    .every_wrap main .renutriv_area > .renutriv_content_wrap > .left > .summary {font-size:var(--mobile-font-body-12); text-align:left;}


    .every_wrap main > .bottom_area > .offline_shop > .top > .brand_wrap > .swiper-wrapper > .swiper-slide {width:100px; height:50px;}
    .every_wrap main > .bottom_area > .offline_shop > .top > .brand_wrap > .swiper-wrapper > .swiper-slide > img {width:100%; height:100%; object-fit:contain;}

}
@media screen and (max-width:850px){
    .every_wrap footer > .left > .slogan > .first,
    .every_wrap footer > .left > .slogan > .second,
    .every_wrap footer > .left > .slogan > .third {
    font-family:var(--optima-fonts); font-size:var(--mobile-font-body-16);
}
    .every_wrap footer > .left > .slogan > .point_dot1, 
    .every_wrap footer > .left > .slogan > .point_dot2, 
    .every_wrap footer > .left > .slogan > .point_dot3 {width:4px; height:4px;}
    .every_wrap footer > .left > .slogan > .copyright {font-size:var(--mobile-font-caption-10); white-space:nowrap;}

    .every_wrap footer > address {
    display:flex; flex-flow:row nowrap; gap:30px;}
    .every_wrap footer > address > .left > p {
    font-size:var(--mobile-font-caption-10); white-space:nowrap;
}
.every_wrap footer > address > .right > a {
    font-size:var(--mobile-font-caption-10);
}
.every_wrap footer > address > .right > p {
    font-size:var(--mobile-font-caption-10);
}
.every_wrap footer {gap:50px;}
}
@media screen and (max-width:800px){
    .every_wrap main .heritage {padding:60px 0; width:calc(100% - 30px); margin:0 auto;}
    .every_wrap main .heritage > .heritage_wrap {width:100%;}
    .every_wrap main .heritage > .heritage_wrap > .title > .slogan {font-size:var(--mobile-font-title-16);}
    .every_wrap main .heritage > .heritage_wrap > .title > h3 {font-size:var(--mobile-font-title-16);}
    .every_wrap main .heritage > .heritage_wrap > .title > .summary {font-size:var(--mobile-font-body-14);}
    .every_wrap main .heritage > .heritage_wrap > .hover_area {width:100%;}
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] {
    width:50%; height:33.3%;
    }
    .every_wrap main .heritage > .heritage_wrap > .hover_area > .step3 {border-right:1px solid #fff;}
}
@media screen and (max-width:700px) {
    /* 띠배너 컨텐츠너비, 폰트크기 */
    .every_wrap header {padding:0 15px;}
    .every_wrap .banner .content {width:410px;}
    .every_wrap .banner .content .new_user {font-size:var(--mobile-font-caption-10);}
    /* 띠배너 설정 종료 */

    /* 띠배너 닫기 버튼 */
    .every_wrap .banner .content #close {width:18px; height:18px; top:0px;}



    /* 히어로 */
    .every_wrap main .hero{height:75vh;}
    .every_wrap main .hero .hero_wrap {}
    .every_wrap main .hero .hero_wrap .swiper-wrapper {}

    /* 히어로배너 모바일 전용  */
    .every_wrap main .hero .hero_wrap .hero_banner1 {
    width:100%; height:100%;
    background-image:url(../images/hero_mobile.jpg);
    background-size:cover;
    background-position:72% center;
}

    .every_wrap main .hero .hero_wrap .hero_banner2 {
    width:100%; height:100%;
    background-image:url(../images/hero_mobile.jpg);
    background-size:cover;
    background-position:72% center;
}
    .every_wrap main .hero .hero_wrap .hero_banner3 {
    width:100%; height:100%;
    background-image:url(../images/hero_mobile.jpg);
    background-size:cover;
    background-position:72% center;
}

/* 히어로배너 컨텐츠 모바일 조절 */
    .every_wrap main .hero .hero_wrap .hero_banner1 > .title_sum,
    .every_wrap main .hero .hero_wrap .hero_banner2 > .title_sum,
    .every_wrap main .hero .hero_wrap .hero_banner3 > .title_sum {top:300px; left:30px;}

    .every_wrap main .hero .hero_wrap .hero_banner1 > .title_sum > h2,
    .every_wrap main .hero .hero_wrap .hero_banner2 > .title_sum > h2,
    .every_wrap main .hero .hero_wrap .hero_banner3 > .title_sum > h2 {font-size:var(--pc-font-title-22);}

    .every_wrap main .hero .hero_wrap .hero_banner1 > .title_sum > p,
    .every_wrap main .hero .hero_wrap .hero_banner2 > .title_sum > p,
    .every_wrap main .hero .hero_wrap .hero_banner3 > .title_sum > p {font-size:var(--pc-font-body-16); line-height:1.3;}


    /* 페이지네이션(히어로) */
    .every_wrap main .hero .hero_wrap .swiper-pagination-fraction{right:20px; bottom:20px;}

    .every_wrap main .hero .swiper-pagination, .swiper-pagination-total {font-size:var(--mobile-font-body-12);}

    .every_wrap main .hero .swiper-pagination-current {font-size:var(--pc-font-body-12);}

    .every_wrap main .hero .swiper-button-next {display:none;}
    .every_wrap main .hero .swiper-button-prev {display:none;}


    /* 2행 베스트 상품영역 */
    .every_wrap main .best_product {width:calc(100%-30px);} 
    .every_wrap main .best_product > .top {flex-flow:column nowrap; align-items:flex-start;justify-content: center; gap:22px; margin-bottom:43px;}
    .every_wrap main .best_product .swiper-pagination {
    bottom:50px;}

    /* 상품목록 */
    .every_wrap main .best_product .product_wrap .product_group .swiper-slide a img {width:100%; margin-bottom:8px;}
    .every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(1) {}
    .every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(2) {}
    .every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(2) h4 {
        font-size:var(--mobile-font-body-12); 
    }
    .every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(3) {}
    .every_wrap main .best_product .product_wrap .product_group .swiper-slide a:nth-child(3) p {
        font-size:var(--mobile-font-body-12);
    }
    /* 아이유 배너 글자 조정 */
    .every_wrap main .banner_section > .summary {gap:8px;}
    .every_wrap main .banner_section > .summary > p:nth-child(1) {font-size:var(--mobile-font-title-16);}
    .every_wrap main .banner_section > .summary > p:nth-child(1)::after {width:100px;}
    .every_wrap main .banner_section > .summary > p:nth-child(1)::before {width:100px;}
    .every_wrap main .banner_section > .summary > p:nth-child(2) {font-size:var(--mobile-font-title-16);}
    .every_wrap main .banner_section > .summary > p:nth-child(3) {font-size:var(--mobile-font-title-16);}
    .every_wrap main .banner_section > .summary > p:nth-child(4) {font-size:var(--mobile-font-body-12);}
    /* 헤리티지 */
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] > .contents_hover {opacity:1;}
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] > .contents_hover .title {font-size:var(--mobile-font-body-12);}
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] > .contents_hover .title em {font-size:var(--mobile-font-body-12);}
    .every_wrap main .heritage > .heritage_wrap > .hover_area > div[class*="step"] > .contents_hover .summary{font-size:var(--mobile-font-body-12);}



    .every_wrap main > .bottom_area {padding-top:20px;}
    .every_wrap main > .bottom_area > .offline_shop > .top > .title {
    display:flex; flex-flow:column nowrap; align-items:center; margin-bottom:30px;}
    .every_wrap main > .bottom_area > .offline_shop > .top > .modelphoto {width:calc(100% - 30px); margin:0 auto; padding:30px 0; gap:8px;}
    .every_wrap main > .bottom_area > .offline_shop > .top > .modelphoto > img {
    flex:1; height:100%; object-fit: cover; min-width:0;
    }

    .every_wrap main > .bottom_area > .offline_shop > .top > .title {
        margin-bottom:15px; gap:6px;
    }
    .every_wrap main > .bottom_area > .offline_shop > .top > .title > h3 {
    font-size:var(--mobile-font-body-16);}
    .every_wrap main > .bottom_area > .offline_shop > .top > .title > .slogan{
    font-size:var(--mobile-font-body-14);}

    .every_wrap footer {height:486px; gap:50px;}
    .every_wrap footer > address {flex-flow:column nowrap; gap:6px;}
    .every_wrap footer > address > .left > p {
    font-size:var(--mobile-font-caption-9);}

    .every_wrap footer > address > .right > a {
    font-size:var(--mobile-font-caption-9);
}
    .every_wrap footer > address > .right > p {
    font-size:var(--mobile-font-caption-9);
}
}
@media screen and (max-width:440px){
    .every_wrap main .best_product > .top > .btn_group {gap:8px;}

    /* d아이유배너 글자 조정 */
    .every_wrap main .banner_section > .summary {gap:8px;}
    .every_wrap main .banner_section > .summary > p:nth-child(1) {font-size:var(--mobile-font-body-12);}
    .every_wrap main .banner_section > .summary > p:nth-child(1)::after {width:70px; top:6px;}
    .every_wrap main .banner_section > .summary > p:nth-child(1)::before {width:70px; top:6px;}
    .every_wrap main .banner_section > .summary > p:nth-child(2) {font-size:var(--mobile-font-body-12);}
    .every_wrap main .banner_section > .summary > p:nth-child(3) {font-size:var(--mobile-font-body-12);}
    .every_wrap main .banner_section > .summary > p:nth-child(4) {font-size:var(--mobile-font-caption-10);}

    .every_wrap footer {height:486px; gap:20px;}
    .every_wrap footer > .left > .slogan {gap:10px;
}
    .every_wrap footer > .left > .slogan > .point_dot1, 
    .every_wrap footer > .left > .slogan > .point_dot2, 
    .every_wrap footer > .left > .slogan > .point_dot3 {
    width:3px; height:3px;}

    .every_wrap footer > .left > .slogan > .first,
    .every_wrap footer > .left > .slogan > .second,
    .every_wrap footer > .left > .slogan > .third {
    font-size:var(--mobile-font-caption-10);}

    .every_wrap footer > .left > .slogan > .point_dot1 {
    top:-8px; left:2px;
}

    .every_wrap footer > .left > .slogan > .point_dot2 {
    top:14px; left:2px;
}
    .every_wrap footer > .left > .slogan > .point_dot3 {
    left:2px; bottom:30px;
}
    .every_wrap footer > .left > .slogan > .copyright {
    font-size:var(--mobile-font-caption-6); color:var(--estee-gray);
}
}