/* reponsive.css */
@media screen and (max-width:1200px) {
    .every_wrap {}

    /* 띠배너 */
    .every_wrap .banner {height:30px;}
    .every_wrap .banner .content {width:410px;}
    .every_wrap .banner .content .new_user {font-size:var(--mobile-font-caption-10);}


    /* 띠배너 닫기 버튼 */
    .every_wrap .banner .content #close {width:18px; height:18px; top:0px;}


    /* 헤더 시작 */
    .every_wrap header {
    top:30px;
}
}
